@import "../../node_modules/normalize.css/normalize";

$base-font-size: 0.8em;

body {
  font-family: "Courier New", Courier, monospace;
  max-width: 960px;
  margin: 0 auto;
}

.countries {
  stroke: #fff;
}

.legend-items text {
  font-size: $base-font-size;
}

.legend-title text {
  font-size: $base-font-size;
}

.bar-label {
  font-size: $base-font-size;
  text-anchor: middle;
}
